# Archivos generados de ayuda
HELP.md

# Directorios y archivos generados por Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
dependency-reduced-pom.xml
release.properties
.mvn/
!**/src/main/**/target/
!**/src/test/**/target/

# Archivos de configuración de Spring Tools Suite (STS)
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# Archivos de IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Archivos de NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Archivos de Visual Studio Code
.vscode/

# Archivos de sistema (Windows y macOS)
Thumbs.db
.DS_Store

# Application properties
src/main/resources/*.properties

# Firebase
src/main/resources/test-20aee-firebase-adminsdk-fbsvc-b92ada1d9b.json